html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 50%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}
.blank1 {
    margin: 0;
    padding-bottom: 7.5em;
    width: 100%;
}
.header {
    position: fixed;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    font-size: 1em;
    font-family: "Black fan", sans-serif;
    background-color: rgb(95,192,205);
    z-index: 1;
}
.lctimg {
    background-image: url("images/task5-2_03.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 2em;
    top: 0.6em;
    padding-bottom: 2.5em;
    width: 2em;
}
.proj {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30%;
    border-radius: .3em;
    width: 40%;
    background-color: rgb(85,168,179);
}
.proj1 {
    width: 50%;
    color: #FFFFFF;
    background-color: rgb(85,168,179);
}
.proj2 {
    background-color: #FFFFFF;
    border-radius: .3em;
    color: rgb(95,192,205);
    z-index: 1;
    width: 50%;
    padding: 0.25em 0;
}
.opt {
    position: fixed;
    top: 4.5em;
    width: 100%;
    border-bottom: thin solid #cccccc;
    background-color: #FFFFFF;
    padding: .5em 0;
    text-align: center;
    color: #cccccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.opt1,.opt2{
    width: 33.33%;
    text-align: center;
    border-right: thin solid #cccccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.opt3{
    width: 33.33%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.lab{
    width: 0;
    height: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .6em solid #999999;
    float: right;
    position: relative;
    top: .3em;
    right: 1em;
}
.row{
    padding: .5em 0 .5em .5em;
    text-align: left;
    font-family: "Black fan", sans-serif;
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.container-fluid {
    border-bottom: thin solid #cccccc;
}
.date {
    padding: .5em 0 .5em .5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}
.date1 {

    margin: 0 .5em 0 1.25em;
    padding-right: 2em;
    font-size: 1em;
    font-family: "Black fan", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.date2 {
    font-size: 1em;
    color: red;
    margin-right: .5em;
    white-space: nowrap;
}
.balnk2{
    margin: 0;
    padding-bottom: 4.6em;
    width: 100%;
}
.footer {
    background-color: #FFFFFF;
    padding-bottom: .1em;
    font-size: 1em;
    font-family: "Black fan", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 3.5em;
    background-color: #FFFFFF;
}
.home1 {
    background-image: url("images/task5-2_22.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 2em;
    height: 2em;
}
.home2 {
    color: rgb(95,192,205);
}
.memb {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-right: 3.5em;
    background-color: #FFFFFF;
}
.memb1 {
    background-image: url("images/task5-2_19.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 2em;
    height: 2em;
}
.memb2 {
    color: #999999;
}
.edit {
    margin-top: .5em;
    background-color: rgb(95,192,205);
    border-radius:50%;
    width: 3em;
    height: 3em;
    z-index: -1;
    position: relative;
    border: hidden;
}
